<template>
  <div class="menu">
    <router-link to="/" class="menu-button" @click="page = 0" :class="{ 'selected-menu': page == 0 }">Головна</router-link>
    <router-link to="/student" class="menu-button" @click="page = 1" :class="{ 'selected-menu': page == 1 }">Студенти</router-link>
    <router-link to="/contact" class="menu-button" @click="page = 2" :class="{ 'selected-menu': page == 2 }">Контакти</router-link>
  </div>
  <div class="page">
    <router-view></router-view>
  </div>
</template>

<script>

import { mapActions } from 'vuex';

export default {
  name: "App",
  data() {
    return {
      page:0,
    };
  },
  methods:{
    ...mapActions(['loadData'])
  },
  created () {
    this.loadData();
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
.menu {
  margin-bottom: 30px;
}
.menu-button {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-left: 10px;
}
.selected-menu {
  border: 2px solid red;
}
</style>
