<template>
  <div class="content">
    <div class="left-content">
      <!-- <img :src="equipment.img" alt="Image" width="250" height="170" /> -->
      <div>Назва бойової одиниці: {{ equipment.name }}</div>
      <div>Рік випуску: {{ equipment.year }}</div>
      <div>Вартість: {{ equipment.cost }}</div>
      <div>Строк експлуатації: {{ equipment.lifetime }}</div>
    </div>
    <div class="right-content">
    <button @click="$router.push(`/${equipment.id}`)">Повна інформація</button>
      <button type="button" @click="$router.push(`/${equipment.id}/edit`)">Редагувати</button>
      <button type="button" @click="deleteItem(equipment.id)">Видалити</button>
    </div>
  </div>
  <hr />
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    equipment: {
      type: Object,
    },
  },
  methods: {
    ...mapActions(['deleteItem'])
  },
};
</script>

<style>
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; /* якщо вам потрібно текст розмістити ліворуч */
  margin-top: 50px; /* при необхідності задайте потрібний верхній відступ */
}

.right-content {
  margin-left: 30px;
}
</style>
