<template>
  <div>
    Варіант 4. Довідник генерала. База даних містить відомості про військову техніку:
    {назва бойової одиниці, рік випуску, вартість, строк експлуатації}.
    Організувати вибір за довільним запитом.
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>