<template>
  <div>
    Форма створення
    <br />
    <form class="form">
      <label for="">
        Назва:
        <input type="text" v-model="equipment.name" required/>
      </label>
      <label for="">
        Посилання на фотографію:
        <input type="text" v-model="equipment.img" required/>
      </label>
      <label for="">
        Рік виготовлення:
        <input type="number" v-model="equipment.year" required/>
      </label>
      <label for="">
        Ціна:
        <input type="number" v-model="equipment.cost" required/>
      </label>
      <label for="">
        Строк експулатації
        <input type="number" v-model="equipment.lifetime" required/>
      </label>
      <button @click="addEquipment()">Створити</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      equipment: {
        name: "",
        img: "",
        year: 0,
        cost: 0,
        lifetime: 0
      },
    };
  },
  methods: {
    ...mapActions(["addItem", "loadList"]),
    addEquipment() {
      const item = JSON.parse(JSON.stringify(this.equipment));
      this.addItem({item: item})
        .then(() => {
          console.log("yeah");
        })
        .catch((error) => {
          console.error("Error:", error);
        });
        this.$router.push('/');
    },
  },
  async created() {
    await this.loadList();
  },
};
</script>

<style>
.form {
  margin-top: 30px;
  display: block;
}
.form label {
  display: block;
}
</style>