<template>
  <div>
    Форма редагування
    <br />
    <form class="form">
      <label for="">
        Назва:
        <input type="text" v-model="equipment.name" required />
      </label>
      <label for="">
        Посилання на фотографію:
        <input type="text" v-model="equipment.img" required />
      </label>
      <label for="">
        Рік виготовлення:
        <input type="number" v-model="equipment.year" required />
      </label>
      <label for="">
        Ціна:
        <input type="number" v-model="equipment.cost" required />
      </label>
      <label for="">
        Строк експулатації:
        <input type="number" v-model="equipment.lifetime" required />
      </label>
      <button @click="editEquipment()">Редагувати</button>
    </form>
  </div>
</template>
  
  <script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      equipment: {},
    };
  },
  computed: {
    ...mapGetters(["getItemById"]),
  },
  methods: {
    ...mapActions(["updateItem", "loadList"]),
    editEquipment() {
      if (this.equipment) {
        const itemData = JSON.parse(JSON.stringify(this.equipment));
        const itemId = this.equipment.id;

        this.updateItem({ itemId, data: itemData })
          .then(() => {
            console.log("yeah");
          })
          .catch((error) => {
            console.error("Error:", error);
          });
        this.$router.push("/");
      } else {
        console.error("Equipment is not initialized.");
      }
    },
  },
  async created() {
    try {
      await this.loadList();
      const equipmentId = this.$route.params.id;

      // Перевірка, чи є обладнання за вказаним ID
      const equipment = this.getItemById(equipmentId);
      if (equipment) {
        this.equipment = equipment;
        console.log(equipment);
      } else {
        console.error(`Equipment with ID ${equipmentId} not found.`);
      }
    } catch (error) {
      console.error("Error:", error);
    }
  },
};
</script>
  
  <style>
.form {
  margin-top: 30px;
  display: block;
}
.form label {
  display: block;
}
</style>