<template>
  <div>
      <img :src="equipment.img" alt="Image" width="250" height="170" />
      <div>Назва бойової одиниці: {{ equipment.name }}</div>
      <div>Рік випуску: {{ equipment.year }}</div>
      <div>Вартість: {{ equipment.cost }}</div>
      <div>Строк експлуатації: {{ equipment.lifetime }}</div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      equipment: {},
    };
  },
  computed: {
    ...mapGetters(["getItemById"]),
  },
  methods: {
    ...mapActions(["loadList"]),
  },
  async created() {
    try {
      await this.loadList();
      const equipmentId = this.$route.params.id;

      // Перевірка, чи є обладнання за вказаним ID
      const equipment = this.getItemById(equipmentId);
      if (equipment) {
        this.equipment = equipment;
        console.log(equipment);
      } else {
        console.error(`Equipment with ID ${equipmentId} not found.`);
      }
    } catch (error) {
      console.error("Error:", error);
    }
  },
};
</script>

<style>
</style>