<template>
  <div>
    Пошук за
    <select v-model="filter">
      <option value="1" selected>назва</option>
      <option value="2">рік випуску</option>
      <option value="3">вартість</option>
      <option value="4">строк експулатації</option>
    </select>
    <input v-model="searchTerm" type="text" placeholder="Search" />
    <br><br>
    <button @click="$router.push('/add')">
      Додати одиницю військової техніки
    </button>
    <hr />
    <equipment-component
      v-for="equipment in filteredItems"
      :equipment="equipment"
      :key="equipment"
    ></equipment-component>
  </div>
</template>

<script>
import EquipmentComponent from "@/components/EquipmentComponent.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      searchTerm: "",
      filter: "",
    };
  },
  components: {
    EquipmentComponent,
  },
  computed: {
    ...mapGetters(["getItemsList"]),
    filteredItems() {
      if (this.filter == "1") {
        return this.getItemsList.filter((object) => {
          return object.name
            .toLowerCase()
            .includes(this.searchTerm.toLowerCase());
        });
      } else if (this.filter == "2") {
        return this.getItemsList.filter((object) => {
          return String(object.year).includes(this.searchTerm);
        });
      } else if(this.filter =="3"){
        return this.getItemsList.filter((object) => {
          return String(object.cost).includes(this.searchTerm);
        });
      }else if(this.filter =="4"){
        return this.getItemsList.filter((object) => {
          return String(object.lifetime).includes(this.searchTerm);
        });
      }else{
        return this.getItemsList;
      }
    },
  },
  methods: {
    ...mapActions(["loadList"]),
  },
  created() {
    this.loadList();
  },
};
</script>

<style lang="scss" scoped>
</style>