<template lang="">
    <div>
        Ця сторінка не має ніякого вмісту і створена під час модулю. Тут міг би бути текст про завдання...
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>