<template>
  <div>
    Вітаємо вас! <br />
    Ви зробили правильний вибір. <br />
    Ми вирішуємо вашу проблему зі збереженням даних <br />
    Скористайтесь головним меню. Щасти вам!
  </div>
</template>
<script>
export default {
  name: "MainPage",
};
</script>
<style lang="css">
</style>