<template lang="">
    <div>
      <h1>Редагування об'єкта</h1>
      <form action="">
        <label>
          ПІБ
          <input type="text" class="name" v-model="name">
        </label>
        <label>
          Аватар
          <input type="file" name="image" id="image" accept="image/png, image/jpeg" @change="handleFileChange">
        </label>
        <label>
          Курс
          <select name="course" id="course" v-model="course">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </label>
        <label>
          Категорія
          <select name="category" id="category" v-model="category">
            <option value="Активіст">Активіст</option>
            <option value="Прогульник">Прогульник</option>
            <option value="Зразковий">Зразковий</option>
            <option value="Хуліган">Хуліган</option>
          </select>
        </label>
        <router-link to="/student" @click="newStudent"><button>Зберегти</button></router-link>
      </form>
    </div>
  </template>
  <script>
import LocalstorageClass from "@/localstorage.js";

export default {
  name: "StudentEditPage",
  data() {
    return {
      id: null,
      name: null,
      image: "sss",
      course: null,
      category: null,
      editedStudent: {},
    };
  },
  mounted() {
    if (localStorage.getItem("editedStudent")) {
      let data = JSON.parse(localStorage.getItem("editedStudent"));
      this.id = data.id;
      this.name = data.name;
      this.image = data.image;
      this.course = data.course;
      this.category = data.category;
    } else {
      console.log("Localstorage.editedStudent not activate");
    }
  },
  watch: {
    editedStudent() {
      LocalstorageClass.editStudentToLocalstorage(this.editedStudent);
    },
  },

  methods: {
    newStudent() {
      this.editedStudent = {
        id: this.id,
        name: this.name,
        image: this.image,
        course: this.course,
        category: this.category,
      };
    },
    handleFileChange(event) {
      const selectedFile = event.target.files[0];

      if (selectedFile) {
        const reader = new FileReader();

        reader.onload = () => {
          this.image = reader.result; // Зберігаємо у форматі base64
        };

        reader.readAsDataURL(selectedFile);
      } else {
        this.image = null; // Оновлюємо на null, якщо файл не вибрано
      }
    },
  },
};
</script>
<style lang="css">
</style>