<template lang="">
    <div class="student-info">
        <img :src="studentData.image" width="60" heigth="80" alt="" class="student-text">
        <div class="student-text">Ім'я: {{studentData.name}}</div>
        <div class="student-text">Курс: {{studentData.course}}</div>
        <div class="student-text">{{studentData.category}}</div>
    </div>
</template>
<script>
export default {
  name: "StudentInfo",
  props: {
    studentData: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>
<style lang="css">
.student-info{
    display: flex;
    margin: 10px;
}
.student-text{
    margin-left: 10px;
}
</style>