<template lang="">
    <div class="page"> 
      <div class="panel">
        <router-link to="/student/add" class="new-student">Додати нового студента</router-link>

        <div class="filters">
          Фільтри:
          <select name="category" id="category" @change="filterStudents()" v-model="str">
            <option value="all">Всі категорії</option>
            <option value="активіст">Активісти</option>
            <option value="прогульник">Прогульники</option>
            <option value="зразковий">Зразкові</option>
            <option value="хуліган">Хулігани</option>
          </select>
          <select name="courses" id="courses" @change="filterStudents()" v-model="n">
            <option value=0>Всі курси</option>
            <option value=1>Курс 1</option>
            <option value=2>Курс 2</option>
            <option value=3>Курс 3</option>
            <option value=4>Курс 4</option>
            <option value=5>Курс 5</option>
          </select>
        </div>
      </div>
      
      <div class="students">
        <div v-for="student in studentFiltered" :key="student.name">
          <img :src="student.image" alt="" width="60" heigth="60">
          <span class="student-text">ПІБ: {{student.name}}</span>
          <router-link class="student-text" @click="studentToLocalstorage(student)" to="student/edit">
            <img src="../img/edit-icon.png" heigth="20" width="20" alt="edit">
          </router-link>
          <span class="student-text">Курс: {{student.course}}</span>
          <span class="student-text">{{student.category}}</span>
        </div>
      </div>
    </div>
</template>
<script>
// import LocalstorageClass from "@/localstorage";

import { mapGetters } from 'vuex';


export default {
  name: "StudentPage",

  data() {
    return {
      n: 0,
      str: "all",
      studentFiltered: this.studentList,
      localstorageKey:'studentList',
    };
  },
  computed:{
    ...mapGetters(['studentList']),
  },
  mounted() {
    if(localStorage.getItem(this.localstorageKey)){
      this.studentList = JSON.parse(localStorage.getItem(this.localstorageKey));
      this.studentFiltered = this.studentList;
    }else{
      localStorage.setItem(this.localstorageKey,JSON.stringify(this.studentList));
    }
  },
  methods: {
    filterStudents() {
      this.studentFiltered = this.studentList;
      if (this.str != "all") {
        this.studentFiltered = this.studentFiltered.filter(
          (obj) => obj.category.toLowerCase() == this.str
        );
      }
      if (this.n != 0) {
        this.studentFiltered = this.studentFiltered.filter(
          (obj) => obj.course == this.n
        );
      }
      console.log("Категорія: " + this.str + ". Курс: " + this.n);
    },
    studentToLocalstorage(studentObj) {
      localStorage.setItem("editedStudent", JSON.stringify(studentObj));
    },
  },
};
</script>
<style lang="css">
.panel {
  display: flex;
  margin-bottom: 20px;
}
.new-student {
  border: 2px solid greenyellow;
  color: greenyellow;
  margin-right: 20px;
}
#category {
  margin-right: 20px;
}
.students {
  text-align: left;
}
.student-text {
  margin-left: 10px;
}
</style>